:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #4377e6;
  --color-bg-variant:#2d59d4;
  --color-bg-light: #abd0eec6;
  --color-dark-blue: #0a1c4c;
  --color-yellow: #FFCE67;
  --color-red: #FD6687;
  --color-dark-red: #fe0037;
  --color-green: #9cbc3ce7;
  --color-dark-green: #5c7512e7;
  --color-orange: #fbad54e7;
  --color-dark-orange: #c7771be7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-hover: #646cff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  user-select: none; /* Standard syntax */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-light);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-hover);
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}